/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 0 15px;
}

/* Cabeçalho */
header {
  background-color: #007cad;
  color: #fff;
  padding: 20px 0;
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo img {
  max-width: 120px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaecec;
  padding: 10px;
  flex-wrap: wrap;
}

nav label,
nav select {
  color: #044049de;
  font-size: 1rem;
  margin: 0 10px;
}

.main-nav {
  text-align: center;
  margin: 15px 0;
}

.main-nav a {
  text-decoration: none;
  color: #06abb1;
  ;
  font-weight: bold;
  margin: 0 10px;
}

.main-nav a:hover {
  text-decoration: underline;
}

/* Conteúdo principal */
main {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 30px;
}

section h2 {
  color: #06abb1;
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 15px;
  background-color: #007cad;
  color: #fff;
  margin-top: 40px;
  border-top: 3px solid #002f6c;
}

/* Responsivo */
@media (max-width: 768px) {
  .header-top {
    flex-direction: column;
  }

  .main-nav {
    font-size: 0.95rem;
  }

  nav select {
    margin-top: 10px;
  }

  main {
    padding: 20px;
  }.form-message {
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
  }
  
  .form-message.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
  
  .form-message.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  
  .form-message.warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
  }
  
}
